<html>
    <head>
        <title>fsfdsdfs</title>
    </head>
<body>
<div>
            {{#each list}}
            <p>{{this.fullName}} , {{this.email}}</p>
            {{/each}}
</div>  
</body>
</html>